@import "tailwindcss";
@import "@fontsource-variable/inter-tight";

/* Cardone custom font faces */
@font-face {
  font-family: "Cardone";
  src: url("/fonts/Cardone-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cardone";
  src: url("/fonts/Cardone-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Cardone";
  src: url("/fonts/Cardone-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cardone";
  src: url("/fonts/Cardone-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

@theme {
  --default-font-family: var(--font-serif);
  --font-sans: "Inter Tight Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Cardone", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --color-geen: #f6f8e4;
}
