@import "tailwindcss";
@import "@fontsource-variable/archivo";
@import "@fontsource-variable/besley";
@import "@fontsource-variable/besley/wght-italic.css";

@theme {
  --default-font-family: var(--font-serif);
  --font-sans: "Archivo Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Besley Variable", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
}
