---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Resume – Noah Michaels"
  description="Resume and professional experience of Noah Michaels, designer and developer based in Raleigh, NC."
>
  <div class="md:p-4 px-4 pb-8 md:max-w-7/10 mr-auto">
    <section class="mb-8">
      <h2 class="text-xl font-sans mb-2">Employment</h2>
      <div class="mb-4 pb-4 border-b">
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="font-semibold">North Carolina General Assembly</span>
          <span class="ml-0 md:ml-2">Raleigh, NC</span>
        </div>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="italic">Printing Specialist II</span>
          <span class="ml-0 md:ml-2">April 2023 &ndash; Present</span>
        </div>
        <ul class="list-disc pl-5 mb-2">
          <li>
            Designed and printed recruiting materials for 10+ state government
            career fairs hosted at UNC System schools, consistently meeting
            tight deadlines
          </li>
          <li>
            Collaborated with the Sir Walter Cabinet to design and print their
            yearly handbook for 50+ spouses of state legislators
          </li>
          <li>
            Coordinated with the Legislative Services Office on brand identity
            adjustments and consolidation for the NCGA, impacting communications
            for 170+ legislators
          </li>
        </ul>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="italic">Printing Specialist I</span>
          <span class="ml-0 md:ml-2">January 2021 &ndash; April 2023</span>
        </div>
        <ul class="list-disc pl-5 mb-2">
          <li>
            Assisted 170+ state legislators and staff members with graphic
            design and printing services
          </li>
          <li>
            Set up automated variable data printing for envelopes and
            letterheads, processing 5,000+ mailings generated from CSV files of
            names and addresses
          </li>
          <li>
            Advised and trained 5+ new employees on print production workflows
            and design standards
          </li>
        </ul>
      </div>
      <div class="mb-4 pb-4 border-b">
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="font-semibold"
            >Creative Printing & Internet Services</span
          >
          <span class="ml-0 md:ml-2">Boone, NC</span>
        </div>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="italic">Webmaster</span>
          <span class="ml-0 md:ml-2">November 2019 &ndash; December 2020</span>
        </div>
        <ul class="list-disc pl-5 mb-2">
          <li>
            Managed 20+ client websites primarily using WordPress, increasing
            client satisfaction and retention
          </li>
          <li>
            Built a mobile-friendly online ordering system for 100+ print orders
            using Elementor and Gravity Forms WordPress plugins
          </li>
          <li>
            Set up and maintained SEO and social media marketing for 15+ web
            clients, including recommendations for subject and body copy and
            call-to-actions
          </li>
          <li>
            Generated monthly analytic reports for clients, providing actionable
            insights to advance their business goals
          </li>
        </ul>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="italic">Multimedia Technician</span>
          <span class="ml-0 md:ml-2">May 2018 &ndash; December 2020</span>
        </div>
        <ul class="list-disc pl-5 mb-2">
          <li>
            Provided 30+ clients with quality graphic design and digital print
            production services
          </li>
          <li>
            Estimated job costs for 10+ major local companies, improving project
            budgeting and efficiency
          </li>
        </ul>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-sans font-normal mb-2">Education</h2>
      <div class="mb-2 pb-4 border-b">
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="font-semibold">Appalachian State University</span>
          <span class="ml-0 md:ml-2">Boone, NC</span>
        </div>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span>Bachelor of Science</span>
          <span class="ml-0 md:ml-2">December 2020</span>
        </div>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span
            >Major: Graphic Arts & Imaging Technology • Minor: General Business</span
          >
          <span class="ml-0 md:ml-2">GPA 3.31</span>
        </div>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-sans font-normal mb-2">
        Leadership & Activities
      </h2>
      <div class="mb-2 pb-4 border-b">
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="font-semibold">The Peel Literature & Arts Review</span>
          <span class="ml-0 md:ml-2">Boone, NC</span>
        </div>
        <div
          class="flex flex-col md:flex-row md:justify-between md:items-center"
        >
          <span class="italic">Visual Committee Member</span>
          <span class="ml-0 md:ml-2">September 2018 &ndash; May 2020</span>
        </div>
        <ul class="list-disc pl-5 mb-2">
          <li>
            Reviewed and critiqued student-submitted visual art and provided
            thorough feedback
          </li>
          <li>Advertised and attended committee fundraising events</li>
        </ul>
      </div>
    </section>

    <section>
      <h2 class="text-xl font-sans font-normal mb-2">Skills & Interests</h2>
      <div class="mb-2 flex flex-col md:flex-row md:gap-8">
        <div class="md:w-1/2 mb-4 md:mb-0">
          <span class="font-semibold block mb-1">Skills:</span>
          <ul class="list-disc pl-5">
            <li>
              Adobe Creative Cloud: InDesign, Illustrator, Photoshop, Lightroom,
              Premiere, After Effects
            </li>
            <li>
              Digital Printing: Fiery RIP, HP Indigo, HP SmartStream Mosaic,
              Konica Minolta, Ricoh, Canon, Xante
            </li>
            <li>
              Web Development: WordPress, HTML, CSS, React, GatsbyJS,
              JavaScript, Git, cPanel
            </li>
            <li>Figma</li>
            <li>
              Microsoft Office: Word, Excel, PowerPoint, Publisher, Outlook
            </li>
          </ul>
        </div>
        <div class="md:w-1/2">
          <span class="font-semibold block mb-1">Interests:</span>
          <ul class="list-disc pl-5">
            <li>Cycling</li>
            <li>Coffee</li>
            <li>Computers</li>
            <li>Literature</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</Layout>
