---
import Layout from "../layouts/Layout.astro";

import { Picture } from "astro:assets";

import phasezero from "../images/phase-zero.webp";
import influence from "../images/influence.jpg";
import grouch from "../images/grouch.jpg";
import ncga from "../images/ncga.jpg";
---

<Layout
  title="Noah Michaels – Portfolio"
  description="Portfolio of Noah Michaels, a print specialist and designer based in Raleigh, NC, working in print production, graphic design, and web development."
>
  <div class="md:p-4 px-4 pb-4 md:max-w-7/10">
    {/** NCGA (2021-Present) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-5/7">
        <Picture
          src={ncga}
          alt="NCGA"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-2/7 flex flex-col justify-between">
        <div class="flex flex-col justify-end items-end w-full">
          <a
            href="/ncga"
            class="text-4xl pb-4 font-sans hover:underline font-extralight"
            >NCGA</a
          >
          <p>
            <span class="text-green-500 text-sm border rounded-full px-2"
              >Current Role</span
            >
            <span class="text-sm border rounded-full px-2"
              >2021&ndash;Present</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="my-4 border-b"></div>
    {/** Phase Zero Section (2025) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-5/7">
        <Picture
          src={phasezero}
          alt="Phase Zero"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-2/7 flex flex-col justify-between">
        <div class="flex flex-col justify-end items-end w-full">
          <a
            href="/phase-zero"
            class="text-4xl pb-4 font-sans hover:underline font-extralight"
            >Phase Zero</a
          >
          <p>
            <span class="text-red-500 text-sm border rounded-full px-2"
              >Print</span
            >
            <span class="text-sm border rounded-full px-2">2025</span>
          </p>
        </div>
      </div>
    </div>

    <div class="my-4 border-b"></div>

    {/** Grouch Section (2022) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-5/7">
        <Picture
          src={grouch}
          alt="Grouch"
          class="aspect-[4/3] object-cover border border-black"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-2/7 flex flex-col justify-between">
        <div class="flex flex-col justify-end items-end w-full">
          <a
            href="/grouch"
            class="text-4xl font-sans hover:underline pb-4 font-extralight"
            >Grouch</a
          >
          <p>
            <span class="text-blue-500 text-sm border rounded-full px-2"
              >Apparel</span
            >
            <span class="text-sm border rounded-full px-2">2022</span>
          </p>
        </div>
      </div>
    </div>

    <div class="my-4 border-b"></div>

    {/** Influence Photo Book Section (2019) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-5/7">
        <Picture
          src={influence}
          alt="Influence"
          class="aspect-[4/3] object-cover border border-black"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-2/7 flex flex-col justify-between">
        <div class="flex flex-col justify-end items-end w-full">
          <a
            href="/influence"
            class="text-4xl font-sans hover:underline pb-4 font-extralight"
            >Influence</a
          >
          <p>
            <span class="text-red-500 text-sm border rounded-full px-2"
              >Print</span
            >
            <span class="text-sm border rounded-full px-2">2019</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
