---
// Core layout components
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";

// UI components
import { Separator } from "@/components/ui/separator";
import { Picture } from "astro:assets";

// Assets
import phasezero from "../images/phase-zero.webp";
import ncga from "../images/ncga.jpg";

// Icons
import { BookOpenTextIcon, MegaphoneSimpleIcon } from "@phosphor-icons/react";
---

<Layout
  title="Noah Michaels – Portfolio"
  description="Portfolio homepage of Noah Michaels, a designer and developer based in Raleigh, NC. Featuring selected projects and creative work."
>
  <div class="md:p-4 px-4 pb-4 md:max-w-7/10">
    {/** Phase Zero Section (2025) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={phasezero}
          alt="Phase Zero"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div class="flex flex-row justify-between items-start w-full">
          <div class="flex-1">
            <p class="text-2xl font-sans">Phase Zero</p>
            <p class="mt-4">
              Published in Phase Zero Issue 9, a print publication archiving the
              rapidly evolving culture and visual language of New York City.
              Features illustrations, poetry, photography, creative writing, and
              more.
            </p>
            <a
              href="/phase-zero"
              class="mt-4 inline-block underline hover:no-underline focus:no-underline"
              >Read more about Phase Zero</a
            >
          </div>
          <div class="flex flex-col items-end text-right ml-4">
            <BookOpenTextIcon size={32} weight="fill" />
            <p class="mt-1 uppercase font-sans">2025</p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2">
      <Separator />
    </div>

    {/** North Carolina General Assembly Section (2024) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={ncga}
          alt="North Carolina General Assembly"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div class="flex flex-row justify-between items-start w-full">
          <div class="flex-1">
            <p class="text-2xl font-sans">North Carolina General Assembly</p>
            <p class="mt-4">
              Designed promotional materials for the North Carolina General
              Assembly, supporting their career fairs at colleges and
              universities across the state.
            </p>
            <a
              href="/ncga"
              class="mt-4 inline-block underline hover:no-underline focus:no-underline"
              >Read more about North Carolina General Assembly</a
            >
          </div>
          <div class="flex flex-col items-end text-right ml-4">
            <MegaphoneSimpleIcon size={32} weight="fill" />
            <p class="mt-1 uppercase font-sans">2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
