---
// Core layout components
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";

// UI components
import { Separator } from "@/components/ui/separator";
import { Picture } from "astro:assets";

// Assets
import phasezero from "../images/phase-zero.webp";
import boro from "../images/boro.png";
import mtn from "../images/mtn.jpg";
import ncga from "../images/ncga.jpg";

// Icons
import { BookOpenTextIcon, DiscIcon, MegaphoneSimpleIcon } from "@phosphor-icons/react";
---

<Nav />
<Layout>
  <div class="md:p-4 px-4 pb-4 md:max-w-7/10">
    {/** Phase Zero Section (2025) **/}
    <div class="flex flex-col md:flex-row">
      <div class="md:basis-3/7 md:py-0 py-4 md:pr-4">
        <Picture
          src={phasezero}
          alt="Phase Zero"
          class="aspect-4/3 object-cover"
          loading="eager"
        />
      </div>
      <div class="md:basis-3/7 md:pr-4">
        <p class="[&:not(:first-child)]:mt-4 text-2xl font-sans">Phase Zero</p>
        <p class="mt-4">
          Published in Phase Zero Issue 9, a print publication archiving the rapidly evolving culture and visual language of New York City. Features illustrations, poetry, photography, creative writing, and more.
        </p>
        <a href="/phase-zero" class="mt-4 inline-block underline hover:no-underline focus:no-underline">Read more</a>
      </div>
      <div class="md:basis-1/7">
        <p class="[&:not(:first-child)]:mt-4 mt-4 md:mt-0 uppercase font-sans">2025</p>
        <BookOpenTextIcon size={32} weight="fill" />
      </div>
    </div>

    <div class="py-4">
      <Separator />
    </div>

    {/** North Carolina General Assembly Section (2024) **/}
    <div class="flex flex-col md:flex-row">
      <div class="md:basis-3/7 md:py-0 py-4 md:pr-4">
        <Picture
          src={ncga}
          alt="North Carolina General Assembly"
          class="aspect-4/3 object-cover"
          loading="eager"
        />
      </div>
      <div class="md:basis-3/7 md:pr-4">
        <p class="[&:not(:first-child)]:mt-4 text-2xl font-sans">North Carolina General Assembly</p>
        <p class="mt-4">
          Designed promotional materials for the North Carolina General Assembly, supporting their career fairs at colleges and universities across the state.
        </p>
        <a href="/ncga" class="mt-4 inline-block underline hover:no-underline focus:no-underline">Read more</a>
      </div>
      <div class="md:basis-1/7">
        <p class="[&:not(:first-child)]:mt-4 mt-4 md:mt-0 uppercase font-sans">2024</p>
        <MegaphoneSimpleIcon size={32} weight="fill" />
      </div>
    </div>

    <div class="py-4">
      <Separator />
    </div>

    {/** Boro Section (2023) **/}
    <div class="flex flex-col md:flex-row">
      <div class="md:basis-3/7 md:py-0 py-4 md:pr-4">
        <Picture
          src={boro}
          alt="Boro"
          class="aspect-4/3 object-cover"
          loading="eager"
        />
      </div>
      <div class="md:basis-3/7 md:pr-4">
        <p class="[&:not(:first-child)]:mt-4 text-2xl font-sans">Boro</p>
        <p class="mt-4">
          Designed merchandise and album artwork for Boro, a rap group based in Greensboro, NC. Work supported their visual identity and helped promote their music and brand.
        </p>
        <a href="/boro" class="mt-4 inline-block underline hover:no-underline focus:no-underline">Read more</a>
      </div>
      <div class="md:basis-1/7">
        <p class="[&:not(:first-child)]:mt-4 mt-4 md:mt-0 uppercase font-sans">2023</p>
        <DiscIcon size={32} weight="fill" />
      </div>
    </div>

    <div class="py-4">
      <Separator />
    </div>
  </div>
</Layout>
