---
import Layout from "../layouts/Layout.astro";

import { Picture } from "astro:assets";

import phasezero from "../images/phase-zero.webp";
import influence from "../images/influence.jpg";
import grouch from "../images/grouch.jpg";
---

<Layout
  title="Noah Michaels – Portfolio"
  description="Portfolio homepage of Noah Michaels, a designer and developer based in Raleigh, NC. Featuring selected projects and creative work."
>
  <div class="md:p-4 px-4 pb-4 md:max-w-7/10">
    {/** Phase Zero Section (2025) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={phasezero}
          alt="Phase Zero"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div class="flex flex-row justify-between items-start w-full">
          <div class="flex-1">
            <p class="text-2xl font-sans">Phase Zero</p>
            <p class="mt-4">
              Published in Phase Zero Issue 9, a print publication archiving the
              rapidly evolving culture and visual language of New York City.
              Features illustrations, poetry, photography, creative writing, and
              more.
            </p>
            <a
              href="/phase-zero"
              class="mt-4 inline-block underline hover:no-underline focus:no-underline"
              >Read more about Phase Zero</a
            >
          </div>
          <div class="flex flex-col items-end text-right ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="#000"
              ><path
                d="M270-80q-45 0-77.5-29.83Q160-139.67 160-184v-562q0-37.33 22.5-66.33t59.17-37l385-78.67v626.67l-366.34 76.66q-14.33 3.34-24 14.84-9.66 11.5-9.66 25.83 0 16.33 13 26.83t30.33 10.5h463.33V-800H800v720H270Zm10-215.67 66.67-14V-803L280-789v493.33Z"
              ></path></svg
            >
            <p class="mt-1 uppercase font-sans">2025</p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-2"></div>

    {/** Grouch Section (2022) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={grouch}
          alt="Grouch"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div class="flex flex-row justify-between items-start w-full">
          <div class="flex-1">
            <p class="text-2xl font-sans">Grouch</p>
            <p class="mt-4">
              Grouch was a project focused on designing and screen printing a
              small run of t-shirts. The project involved creating original
              graphics, preparing screens, and printing each shirt by hand in a
              studio setting.
            </p>
            <a
              href="/grouch"
              class="mt-4 inline-block underline hover:no-underline focus:no-underline"
              >Read more about Grouch</a
            >
          </div>
          <div class="flex flex-col items-end text-right ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="000"
              ><path
                d="m246.67-553.33-89 49.66L50-690.33 308-840h88.67v39.33q0 36.34 23.83 60.17t60.17 23.83q36.33 0 59.83-23.83t23.5-60.17V-840h88.67l258 149.67-110 188.66-89.34-52.66V-120H246.67v-433.33Z"
              ></path></svg
            >
            <p class="mt-1 uppercase font-sans">2022</p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2"></div>

    {/** Influence Photo Book Section (2019) **/}
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={influence}
          alt="Influence"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div class="flex flex-row justify-between items-start w-full">
          <div class="flex-1">
            <p class="text-2xl font-sans">Influence</p>
            <p class="mt-4">
              Influence is a small photo book project exploring the films that
              have inspired me as a visual artist and storyteller. Each page
              features a photograph, a short reflection, and a connection to a
              specific film that has shaped my creative perspective.
            </p>
            <a
              href="/influence"
              class="mt-4 inline-block underline hover:no-underline focus:no-underline"
              >Read more about Influence</a
            >
          </div>
          <div class="flex flex-col items-end text-right ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="#000"
              ><path
                d="M160-80v-800h640v800H160Zm120-160h400L545-420 440-280l-65-87-95 127Zm160-280 100-60 100 60v-280H440v280Z"
              ></path></svg
            >
            <p class="mt-1 uppercase font-sans">2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
