---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import influence from "../images/influence.jpg";
import spread from "../images/influence/spread1.jpg";
---

<Layout
  title="Influence – Noah Michaels"
  description="A small photo book about films that have inspired me. School project by Noah Michaels."
>
  <div class="md:p-4 px-4 pb-8 md:max-w-7/10 mr-auto">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:basis-3/7">
        <Picture
          src={influence}
          alt="Influence cover"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
      <div class="md:basis-4/7 flex flex-col justify-between">
        <div>
          <h1
            class="text-2xl font-sans font-normal mb-2 flex justify-between w-full"
          >
            <span>Influence</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="40px"
              viewBox="0 -960 960 960"
              width="40px"
              fill="#000"
              ><path
                d="M160-80v-800h640v800H160Zm120-160h400L545-420 440-280l-65-87-95 127Zm160-280 100-60 100 60v-280H440v280Z"
              ></path></svg
            >
          </h1>
          <p class="mb-4 uppercase font-sans tracking-wide">
            2019 &mdash; Coffee Table Book
          </p>
          <p class="mb-4">
            <span class="block"
              >Influence is a small coffee table book featuring stills from
              films that have inspired me as a visual artist and storyteller.
              Each spread pairs a film still with a personal reflection,
              exploring how each work has shaped my creative perspective.</span
            >
          </p>
          <ul class="list-disc pl-5 mb-4">
            <li>Role: Curator, Designer, Writer</li>
            <li>Medium: Print (coffee table book)</li>
            <li>School Project</li>
          </ul>
          <p class="mb-4">
            Highlights: Film stills, personal reflections, and cinematic
            inspiration.
          </p>
        </div>
      </div>
    </div>
    {/* Image Gallery Section */}
    <section class="mb-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <Picture
          src={spread}
          alt="Influence spread"
          class="aspect-[4/3] object-cover border border-black"
          loading="eager"
          width="800"
          height="600"
          layout="constrained"
        />
      </div>
    </section>
  </div>
</Layout>
