<nav
  class="md:fixed md:top-0 md:right-0 md:w-3/10 md:border-l border-b md:border-b-0 md:h-full mb-4"
>
  <div class="p-4">
    <a
      href="/"
      rel="home"
      aria-label="Homepage"
      class="text-2xl font-sans font-light hover:underline focus:underline"
      >Noah Michaels</a
    >
    <p class="my-4">
      Raleigh, NC&ndash;based graphic designer and web developer delivering
      impactful design solutions across print and digital media.
    </p>
    <a
      href="mailto:me@noahmichaels.xyz"
      class="underline hover:no-underline focus:no-underline"
      aria-label="Email Noah Michaels">Email</a
    >
  </div>
</nav>
