---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="NCGA Career Fair" description={SITE.description}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { label: 'NCGA: Career Fair Visual Identity', icon: 'lucide:info' },
      ]}
    />
    <section>
      <div class="min-w-full">
        <div class="prose mb-8">
          <p>Lorem ipsum</p>
        </div>
      </div>
    </section>
  </Container>
</Layout>
