<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Noah Michaels</title>
    <meta
      name="description"
      content="Noah Michaels is a Raleigh-based graphic designer & print specialist at the NC General Assembly. View his professional resume."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
